/*Global*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif !important;
}

body {
  background: #fff;
}

a {
  text-decoration: none !important;
}

.btn-custom {
  background-color: #3282b8;
  border: none;
  color: #fff;
  padding: 14px 40px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 10px;
  border: 2px solid #3282b8;
  font-size: 20px;
}
.btn-custom:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #3282b8;
}

.vertical-center {
  margin: 0 auto !important;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Text Color*/
.text-dark-blue {
  color: #0f4c75 !important;
}
.text-blue-text {
  color: #3282b8 !important;
}
.text-light-blue-text {
  color: #bbe1fa !important;
}
.text-light-gray {
  color: #cccccc !important;
}
.text-dark-gray {
  color: #9f9f9f !important;
}

/*Nav*/
nav {
  padding: 10px 30px !important;
}
nav ul > li > a {
  padding: 0 20px !important;
}
nav.top-nav-collapse-scrolled {
  transition: all 500ms ease-in-out;
  background-color: #092025 !important;
}
nav.top-nav-collapse {
  transition: all 500ms ease-in-out;
  background-color: rgba(43, 53, 59, 0) !important;
}
nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media (max-width: 768px) {
  /*nav{*/
  /*    padding: 15px !important;*/
  /*}*/
  nav ul > li > a {
    padding: 10px 20px !important;
  }
  #navbarCollapse {
    margin-top: 20px;
  }
}

/*Home*/
#home {
  background-color: #2b353b;
  position: relative;
}
#home .container {
  height: 100vh !important;
}

#home .random-shape-right {
  float: right;
  margin-top: 70px;
}

#home .title {
  font-size: 50px;
}

#home .subtittle {
  font-size: 30px;
}

/*About Me*/
#about-me {
  position: relative;
  background-color: rgb(39, 48, 54);
}
#about-me .container {
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
#about-me .about-me {
  padding-top: 0;
  padding-bottom: 10px;
}
#about-me .line {
  border-bottom: 5px solid #3282b8;
  width: 150px;
  margin-left: 150px;
}
@media (min-width: 768px) {
  #about-me .about-me {
    padding-top: 120px !important;
  }
}
@media (max-width: 768px) {
  #about-me .line {
    margin: 0 auto !important;
  }
}

/*Projects*/
#projects {
  position: relative;
  background-color: #2b353b;
}
#projects .container {
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
#projects .line {
  border-bottom: 5px solid #3282b8;
  width: 150px;
  margin: 10px auto 0 auto;
}
#projects .project-box {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  position: relative !important;
  background-color: rgba(11, 61, 95, 0);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  /*padding:150px;*/
}
/*#projects .project-box:hover{*/
/*    box-shadow: 0 5px 15px rgba(0,0,0,0.3);*/
/*}*/
@media (max-width: 768px) {
  #projects .project-box img {
    max-width: 280px !important;
  }
  .random-shape {
    width: 100% !important;
    height: 500px;
    /*overflow-x: visible !important;*/
  }
  #home .title {
    font-size: 40px;
  }

  #home .subtittle {
    font-size: 20px;
  }

  .vertical-center {
    width: 360px;
  }

  a.nav-link {
    padding: 5px 20px !important;
  }
}

/*Price*/
#price {
  position: relative;
  background-color: rgb(39, 48, 54);
}
#price .container {
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
#price .line {
  border-bottom: 5px solid #3282b8;
  width: 150px;
  margin: 10px auto 0 auto;
}

.icon-price:hover {
  color: white !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(11, 61, 95, 0.92);
  border-radius: 10px;
}

.project-box:hover .overlay {
  opacity: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.text {
  color: white;
  font-size: 20px;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  padding: 30px 20px 10px 20px;
  margin: auto !important;
  width: 410px !important;
  font-size: 16px;
  /*-webkit-transform: translate(-50%, -50%);*/
  /*-ms-transform: translate(-50%, -50%);*/
  /*transform: translate(-50%, -50%);*/
  text-align: center;
}

form .error {
  color: rgb(255, 87, 104);
}

/*Contact Me*/
#contact {
  position: relative;
  background-color: #2b353b;
}
#contact .container {
  height: 100%;
  padding-top: 80px;
}
#contact .line {
  border-bottom: 5px solid #3282b8;
  width: 150px;
  margin: 10px auto 0 auto;
}
#contact .project-box {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  position: relative !important;
  background-color: rgba(11, 61, 95, 0);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  /*padding:150px;*/
}

.card{
  background-color: rgba(11, 61, 95, 0.92);
}

.list-group-item{
  background-color: rgba(11, 61, 95, 0.92);
  border: 1px solid #ccc;
}